

body{
    margin-top: 40px;
    width: 50%;
    margin-left: 350px;
    line-height:1.5;
    font-size:18px;
    color: #444;  
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: rgb(13, 14, 13);
    background-color: rgb(243, 97, 52);
    font-size:50px;
    animation-name: example;
    animation-duration: 10s;
  }

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(19, 226, 19);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; 
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @keyframes example {
    0%   {background-color:rgb(15, 240, 71);}
    25%  {background-color:rgb(41, 211, 241);}
    50%  {background-color:rgb(206, 240, 83);}
    75%  {background-color: rgb(240, 154, 78);}
    100% {background-color:rgb(248, 82, 207);}
  }

